*.pdb
*.exe
*.dll
*.obj
*.a
*.exe
*.data
*.dat
*.svg
*.swp
tmp.*
.log
.project
.cproject
.settings
a.out
unreal_projects/
lnxbld/
winbld/
Debug/
Release/
x64/
logs/
.vs/
.metadata/
.plugins/
org.eclipse.cdt.core/
.log/
.data/
tmp/
external/

